
.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
}


.section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 15px;
}


.about-img {
    max-width: 33%;
    height: auto;
    display: block;
    margin: 20px 0;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-text {
    margin: 0;
}
